<!DOCTYPE html>
<html>
  <head>
    <title>Tiny URL Microservice for freecodecamp</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Tiny URL Microservice
      </h1>
    </header>

    <main>
      <p>Enter a url to shorten:</p>
      <form id="tiny_url_form">
        <input id="longUrl" name="longUrl" type="text" placeholder="Loooonnnnnnng URL">
        <button type="submit">Do Magic</button>
      </form>
    </main>
    
    <script src="/client.js"></script>
  </body>
</html>
